ul.adminmenu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
ul.adminmenu-list li {
    float: left;
    margin: 5px;
}
.clear{
    clear: both;
}
h3.title-admin {
    text-align: center;
    font-size: 40px;
    color: blue;
}
.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin:0 auto;
}
