body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.title-admin {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 40px;
    color: blue;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}

ul.adminmenu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

ul.adminmenu-list li {
    float: left;
    margin: 5px;
}

.clear {
    clear: both;
}