body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff; 
    color: #333;
    line-height: 1.6;
}

.text {
    border: 3px solid #ff0000;
    border-radius: 10px;
}

.logo {
    max-width: 90px; 
    border-radius: 10px; 
    vertical-align: middle;
    position: absolute;
    left: 60px;
}

header, nav, footer {
    background-color: #333333; 
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: ;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
}

nav ul ul li {
    width: 100%;
    text-align: left;
}

nav ul ul a {
    padding: 10px;
    display: block;
    white-space: nowrap;
    color: #fff;
}

nav ul ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul ul li a:hover {
    color: #ff0000; 
}

nav ul ul li a:link,
nav ul ul li a:visited {
    color: #fff;
    text-decoration: none;
}

nav ul ul li a:hover,
nav ul ul li a:active {
    color: #ff0000; 
    text-decoration: underline; 
}

section {
    padding: left;
    margin: 30px 0;
    border-radius: 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 12px; 
    margin-bottom: 15px;
    display: block;
    overflow: none;
}

#home {
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('./img/logo4-removebg-preview.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

#contact {
    bottom: 0;
    width: 100%;
    background-color: #333; 
    padding: 15px 0; 
    color: #fff;
    text-align: center;
}

.footer { 
    bottom: 0;
    width: 100%;
    background-color: #333; 
    padding: 15px 0; 
    color: #fff;
    text-align: center;
}
